extends layout

block content
  -
    function getAge(birthday) {
      var ageDif = Date.now() - birthday.getTime();
      var ageDate = new Date(ageDif);
      return Math.abs(ageDate.getUTCFullYear() - 1970);
    }
  
  div.card
    h2 Hi!
    p My name is Uwe Wiemer and I'm an #{getAge(new Date(1997, 12, 10))} year old student that is 
      | currently finishing his dual studies in BW, Germany as a Programmer. I was born and raised
      | in Central America (Honduras, to be exact) and I've only been in Germany for 6 years now.
      | I moved to Munich in 2010 with my parents and finished high school there, and then moved out
      | to start my independent career. My 2 main languages are Spanish and English, with German being
      | the last language I (kinda) mastered.