doctype html
html
  head
    title hallowatcher
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5")

  body

    div#content
      div#title Uwe Wiemer
      div#subtitle Programmer & Web developer
      hr#line
      ul#links
        li
          a(href="https://osu.ppy.sh/u/1874761") osu!
        li
          a(href="https://twitter.com/hallowatcher") twitter
        li
          a(href="http://steamcommunity.com/id/hallowatcher/") steam
        li
          a(href="https://www.youtube.com/c/hallowatcher009") youtube
        li
          a(href="https://www.twitch.tv/hallowatcher") twitch
        li
          a(href="https://github.com/Hallowatcher") github

    div#footer
      ul#nav
        li
          a(href="") Hi!
        li
          a(href="") About me
        li
          a(href="") Projects
      button#logo h#[span.gray allo]w#[span.gray at]ch#[span.gray e]r