extends layout

block content
  div#title Uwe Wiemer
  div#subtitle Programmer & Web developer
  hr#line
  ul#links
    li
      a(href="https://osu.ppy.sh/u/1874761") osu!
    li
      a(href="https://twitter.com/hallowatcher") twitter
    li
      a(href="http://steamcommunity.com/id/hallowatcher/") steam
    li
      a(href="https://www.youtube.com/c/hallowatcher009") youtube
    li
      a(href="https://www.twitch.tv/hallowatcher") twitch
    li
      a(href="https://github.com/Hallowatcher") github